<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>CheesyPay</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/templatemo-chain-app-dev.css" />
    <link rel="stylesheet" href="/assets/css/animated.css" />
    <link rel="stylesheet" href="/assets/css/owl.css" />
  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <header
      class="header-area header-sticky wow slideInDown"
      data-wow-duration="0.75s"
      data-wow-delay="0s"
    >
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index.html" class="logo">
                <img src="assets/images/logo.png" alt="Chain App Dev" />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="#top" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#services">Features</a>
                </li>
                <!-- <li class="scroll-to-section">
                  <a href="#contact">Contact me</a>
                </li> -->
                <li class="scroll-to-section">
                  <a href="#newsletter">Pay</a>
                </li>
                <!-- <li class="scroll-to-section"><a href="#about">About</a></li>
                <li class="scroll-to-section">
                  <a href="#pricing">Pricing</a>
                </li> -->
                <!-- <li class="scroll-to-section">
                  <a href="#contact">Contact me</a>
                </li> -->
                <li>
                  <div class="gradient-button">
                    <a id="modal_trigger" href="#modal"
                      ><i class="fa fa-sign-in-alt"></i> Contact me</a
                    >
                  </div>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <div
      class="main-banner wow fadeIn"
      id="top"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div
                  class="left-content show-up header-text wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay="1s"
                >
                  <div class="row">
                    <div class="col-lg-12">
                      <h2>Payment as smooth as cheese</h2>
                      <p>
                        CheesyPay is a tool that lets you transfer money
                        directly to me without any need to enter my details. All
                        the necessary details have already been fed to the QR
                        code!
                      </p>
                    </div>
                    <div class="col-lg-12">
                      <!-- <div class="white-button first-button scroll-to-section">
                        <a href="#contact">Ready to go</a>
                      </div> -->
                      <div class="white-button scroll-to-section">
                        <!-- <a href="#contact">Ready to go </a> -->
                        <a href="#newsletter">Ready to go </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="right-image wow fadeInRight"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="assets/images/slider-dec.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div
              class="section-heading wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h4>Why use CheesyPay?</h4>
              <img src="assets/images/heading-line-dec.png" alt="" />
              <p>Below are a few rich features offered by CheesyPay:</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <div class="service-item first-service">
              <div class="icon"></div>
              <h4>Authenticity</h4>
              <p>
                The QR code so generated, is accepted on majority of the
                platforms some of which include GPay, Paytm, Amazon.
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="service-item second-service">
              <div class="icon"></div>
              <h4>Rocketed Speed</h4>
              <p>
                The QR code generation process takes negligible time. In fact,
                just a few milliseconds! Impressive right?
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="service-item third-service">
              <div class="icon"></div>
              <h4>Multiple Payments</h4>
              <p>
                You can get as many QR codes as you need and make payment. Pro
                Tip: You can even send me infinitely ;)
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="service-item fourth-service">
              <div class="icon"></div>
              <h4>Here at your Service</h4>
              <p>
                Feel free to reach me out using any medium enlisted in this
                website's Contact section. I'd love to hear from you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div id="pricing" class="pricing-tables">
      <div class="container"> -->
    <!-- <div class="row"> -->
    <!-- <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <h4>We Have The Best Pre-Order <em>Prices</em> You Can Get</h4>
              <img src="assets/images/heading-line-dec.png" alt="" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eismod tempor incididunt ut labore et dolore magna.
              </p>
            </div>
          </div> -->
    <!-- <div class="col-lg-4">
            <div class="pricing-item-regular">
              <span class="price">Step 1</span>
              <h4>Enter Amount</h4>
              <div class="icon">
                <img src="assets/images/pricing-table-01.png" alt="" />
              </div>
              <ul>
                <li>Lorem Ipsum Dolores</li>
                <li>20 TB of Storage</li>
                <li class="non-function">Life-time Support</li>
                <li class="non-function">Premium Add-Ons</li>
                <li class="non-function">Fastest Network</li>
                <li class="non-function">More Options</li>
              </ul>
              <div class="border-button">
                <a href="#">Purchase This Plan Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing-item-pro">
              <span class="price">$25</span>
              <h4>Business Plan App</h4>
              <div class="icon">
                <img src="assets/images/pricing-table-01.png" alt="" />
              </div>
              <ul>
                <li>Lorem Ipsum Dolores</li>
                <li>50 TB of Storage</li>
                <li>Life-time Support</li>
                <li>Premium Add-Ons</li>
                <li class="non-function">Fastest Network</li>
                <li class="non-function">More Options</li>
              </ul>
              <div class="border-button">
                <a href="#">Purchase This Plan Now</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="pricing-item-regular">
              <span class="price">$66</span>
              <h4>Premium Plan App</h4>
              <div class="icon">
                <img src="assets/images/pricing-table-01.png" alt="" />
              </div>
              <ul>
                <li>Lorem Ipsum Dolores</li>
                <li>120 TB of Storage</li>
                <li>Life-time Support</li>
                <li>Premium Add-Ons</li>
                <li>Fastest Network</li>
                <li>More Options</li>
              </ul>
              <div class="border-button">
                <a href="#">Purchase This Plan Now</a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div> -->

    <footer id="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <h4>Enter the amount you want to transfer</h4>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-3">
            <form
              id="search"
              action=""
              method="post"
              onsubmit="return fetchAmt();"
            >
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <input
                      type="number"
                      name="amt"
                      class="email"
                      id="amt"
                      placeholder="Amount..."
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <button type="submit" class="main-button">
                      Pay Now <i class="fa fa-angle-right"></i>
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Contact Us</h4>
              <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
              <p><a href="#">010-020-0340</a></p>
              <p><a href="#">info@company.co</a></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Us</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Free Apps</a></li>
                <li><a href="#">App Engine</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">App News</a></li>
              </ul>
              <ul>
                <li><a href="#">App Dev Team</a></li>
                <li><a href="#">Digital Web</a></li>
                <li><a href="#">Normal Apps</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Our Company</h4>
              <div class="logo">
                <img src="assets/images/white-logo.png" alt="" />
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>
                Copyright © 2022 Chain App Dev Company. All Rights Reserved.
                <br />Design:
                <a
                  href="https://templatemo.com/"
                  target="_blank"
                  title="css templates"
                  >TemplateMo</a
                >
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </footer>

    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      let h1 = document.getElementById("title1");
      function fetchAmt() {
        let amt = document.getElementById("amt").value;
        window.location.href = `/api/qrcode?amt=${amt}`;
        return false;
      }
    </script>
  </body>
</html>
